@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-subtitleColor: #00000099;
  --color-dividerColor: #0000001A;
  --font-alfa-slab: 'Alfa Slab One', cursive;
  --font-inter: 'Inter', sans-serif;
  --animate-slide: slide-mobile 8s linear infinite;
  --animate-slide-desktop: slide-desktop 20s linear infinite;
}

@keyframes slide-mobile {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes slide-desktop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}